body {
    background-color: burlywood;
    font-family: 'Segoe UI', sans-serif;
}

.card {
    transition: transform 0.2s ease-in-out;
}

.card:hover {
    transform: scale(1.03);
}
.card-img-top {
    width: 100%;       /* Hace que la imagen ocupe el 100% del contenedor */
    height: 300px;      /* Mantiene la relación de aspecto */
    object-fit: cover; /* Asegura que la imagen cubra el área sin distorsionarse */
}
